@using Microsoft.AspNetCore.Identity
@using Blog.Model.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav justify-content-end account-nav">
        <li class="nav-item">
            <a asp-area="MyBlog" asp-page="/Posts" title="Felhasználói fiók" class="nav-link"><i class="fa fa-user"></i></a>
        </li>
    </ul>
}
else
{
    <ul class="nav justify-content-end account-nav">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Regisztráció</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Bejelentkezés</a>
        </li>
    </ul>
}