@{
    Layout = "/Areas/MyBlog/Pages/Shared/_Layout.cshtml";
}

<h2 class="page-title">Profil megváltoztatása</h2>
<hr />
<div class="row">
    <div class="col-md-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    <script>
        //for _ManageNav partial
        $('a#logout').on("click", function () {
            $('form#logoutForm').submit();
        });
    </script>

    @RenderSection("Scripts", required: false)
}
